<nav>
  {% for item in site.data.navigation %}
  <a href="{{ item.link | relative_url }}" {% if page.url == item.link %}style="color: greens;"{% endif %}>
    {{ item.name }}
  </a>
  {% endfor %}
</nav>